body{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  margin: 0;
}

.header{
  background: #333;
  color: #fff;
  padding: 0.3em 1em;
}

.content{
  background: #e8e8e8;
  padding: 0.3em 1em;
}

.sidebar{
  background: #c3c3c3;
  font-size: 95%;
  padding: 0.3em 1em;
}